SERVER_PORT=5454

DB_URL=
DB_USERNAME=
DB_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RAZORPAY_KEY=
RAZORPAY_SECRET=

STRIPE_SECRET_KEY=

MAIL_USERNAME=
MAIL_PASSWORD=

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

GEMINI_API_KEY=